    <div>
    <h2>Employee Attendance</h2>
    <form [formGroup]="attendanceForm" (ngSubmit)="markAttendance()">
      <label for="employeeId">Select Employee:</label>
      <select id="employeeId" formControlName="employeeId">
        <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</option>
      </select>
    
      <label for="attendanceType">Select Attendance Type:</label>
      <select id="attendanceType" formControlName="attendanceType">
        <option *ngFor="let option of attendanceOptions" [value]="option">{{ option }}</option>
      </select>
    
      <button type="submit">Submit</button>
    </form>  
    
  
    <table>
      <thead>
        <tr>
          <th>Employee ID</th>
          <th>Date</th>
          <th>Check-in</th>
          <th>Check-out</th>
          <th>Attendance Type</th>
          <th>Total login time </th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let record of array" >
          <td>{{ record.employeeId }}</td>
          <td>{{ getCurrentDate() | date:'yyyy-MM-dd' }}</td>
          <td>
            {{ record.checkIn | date: 'shortTime' }}
            <button *ngIf="!record.checkIn"[disabled]="lorh(record.attendanceType)"[ngStyle]="{'background-color': isLeave(record.attendanceType) ? 'red' : (isHoliday(record.attendanceType) ? 'grey' : '')}"
            (click)="markCheckIn(record)">Check-in</button>
          </td>
          <td>{{ record.checkOut | date: 'shortTime' }} 
            <button *ngIf="!record.checkOut"[disabled]="lorh(record.attendanceType)"[ngStyle]="{'background-color': isLeave(record.attendanceType) ? 'red' : (isHoliday(record.attendanceType) ? 'grey' : '')}"
            (click)="checkout(record)">check-Out</button>
        </td>
          
          <td>{{ record.attendanceType }}</td>
          <td>{{record.totallogintime}}</td>
        
        </tr>
      </tbody>
    </table>
  </div>
  