.container {
    display: flex;
  }
  
  .employee-list, .employee-details {
    flex: 1;
    padding: 20px;
  }
  
  .employee-list {
    border-right: 1px solid #ccc;
  }
  
  ul {
    list-style: none;
    padding: 0;
    cursor: pointer;
  }
  
  li {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  li:hover {
    background-color: #f0f0f0;
  }
  .modal-body{
  
    margin-top: 0px;
   
  }
  .formGroupExampleInput2{
     margin-left: 200px;
     font-weight: bold;
     border-radius: 1px;
     
  }
  .form-control{
    width:300px;
    margin-left: 100px;
    border: 1px solid #333;
  }
  
  .modal-footer{
     margin-top: 30px;
  }
  .modal{
    background-color: rgba(255, 255, 255, 0.8)

  }
  .colors{
    margin-left: 120px;
  }

  
 