/* CSS style */
.navbar {
  display: flex;
  justify-content: flex-end;
  background:  rgba(0,0,0,0.5) !important;

  padding: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 5px 0px 5px;
  border-radius: 10px;
}

.navbar li {
  display: inline;
  margin-right: 10px;
}

.navbar a {
  text-decoration: none;
  color:aliceblue

  
}
.flot{
  float: right;
  background-color: transparent;
  }
.flot ul li a:hover {
  background: linear-gradient(to top,rgb(149, 233, 242),rgb(107, 161, 209),rgb(41, 71, 98));
  color: black;
}


.headline{
  font-size:30px;
}

.profile{
 
  /* margin: 87px 0px 0px 0px; */
  color: aliceblue;
  margin-left: 20px;
}


/* nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #dddddd;
} */

/* nav a:hover {
    background-color: grey;
    color:blue;
}  */
 /* .col-1{
   margin-left: 20px;
 }
 .col{
  margin-left: 80px;
 }
 .col:hover{
  background-color: rgb(155, 26, 155);
  width: auto;

 }
  */


  .col-1 {
    display: flex;
    
  }
  
  .navbar-brand {
    padding: 10px;
    text-decoration: none;
    color: white;
    width:auto;
    transition: background-color 0.3s; /* Smooth transition for background color */
  }
  
  .navbar-brand:hover {
    background-color: red;
  }
  
  .navbar-brand.active {
    background-color: red;
  }
  .coll{
    margin-left: 40px;
  }
