<!-- src/app/signup/signup.component.html -->
<div class="container">
    <h2>Signup</h2>
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="newEmployee.name" placeholder="Enter your name">
      </div>
      <div class="form-group">
        <label for="position">Position:</label>
        <input type="text" class="form-control" id="position" [(ngModel)]="newEmployee.position" placeholder="Enter your position">
      </div>
      <div class="form-group">
        <label for="street">Street:</label>
        <input type="text" class="form-control" id="street" [(ngModel)]="newEmployee.address.street" placeholder="Enter your street">
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" [(ngModel)]="newEmployee.address.city" placeholder="Enter your city">
      </div>
      <div class="form-group">
        <label for="state">State:</label>
        <input type="text" class="form-control" id="state" [(ngModel)]="newEmployee.address.state" placeholder="Enter your state">
      </div>
      <div class="form-group">
        <label for="zip">Zip:</label>
        <input type="text" class="form-control" id="zip" [(ngModel)]="newEmployee.address.zip" placeholder="Enter your zip">
      </div>
      <div class="form-group">
        <label for="photo">Photo URL:</label>
        <input type="text" class="form-control" id="photo" [(ngModel)]="newEmployee.photo" placeholder="Enter your photo URL">
      </div>
      <div class="form-group">
        <label for="details">Details:</label>
        <textarea class="form-control" id="details" [(ngModel)]="newEmployee.details" placeholder="Enter employee details"></textarea>
      </div>
      <button type="button" class="btn btn-primary" (click)="signup()">Register</button>
      <!-- <button type="button" class="btn btn-link" (click)="navigateToLogin()">Login</button> -->
    </form>
  </div>
  
