<div class="container-fluid">
  <!-- <div class="row">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
              <img src="https://images.pexels.com/photos/245240/pexels-photo-245240.jpeg?auto=compress&cs=tinysrgb&w=600" class="d-block w-100" alt="Carousel Image 1">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="https://images.pexels.com/photos/2740956/pexels-photo-2740956.jpeg?auto=compress&cs=tinysrgb&w=600" class="d-block w-100" alt="Carousel Image 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="https://images.pexels.com/photos/931887/pexels-photo-931887.jpeg?auto=compress&cs=tinysrgb&w=600"  class="d-block w-100" alt="Carousel Image 2">
              </div>
              <div class="carousel-item" data-bs-interval="4000">
                <img src="https://images.pexels.com/photos/2041627/pexels-photo-2041627.jpeg?auto=compress&cs=tinysrgb&w=600"  class="d-block w-100" alt="Carousel Image 2">
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        
    </div> -->
    <div class="row">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <!-- <div class="carousel-item active" data-bs-interval="2000">
              <img src="https://images.unsplash.com/opengraph/1x1.png?blend=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1606857521015-7f9fcf423740%3Fblend%3D000000%26blend-alpha%3D10%26blend-mode%3Dnormal%26crop%3Dfaces%252Cedges%26h%3D630%26mark%3Dhttps%253A%252F%252Fimages.unsplash.com%252Fopengraph%252Fsearch-input.png%253Fh%253D84%2526txt%253Demployees%2526txt-align%253Dmiddle%25252Cleft%2526txt-clip%253Dellipsis%2526txt-color%253D000000%2526txt-pad%253D80%2526txt-size%253D40%2526txt-width%253D660%2526w%253D750%2526auto%253Dformat%2526fit%253Dcrop%2526q%253D60%26mark-align%3Dmiddle%252Ccenter%26mark-w%3D750%26w%3D1200%26auto%3Dformat%26fit%3Dcrop%26q%3D60%26ixid%3DM3wxMjA3fDB8MXxzZWFyY2h8Nnx8ZW1wbG95ZWVzfGVufDB8fHx8MTcwNTE5NjkwNHww%26ixlib%3Drb-4.0.3&blend-w=1&h=630&mark=https%3A%2F%2Fimages.unsplash.com%2Fopengraph%2Flogo.png&mark-align=top%2Cleft&mark-pad=50&mark-w=64&w=1200&auto=format&fit=crop&q=60" class="d-block w-100" alt="Carousel Image 1">
            </div> -->
            <div class="carousel-item active" data-bs-interval="2000">
              <img src="https://media.istockphoto.com/id/1455296779/photo/smiling-businesspeople-standing-arm-in-arm-in-an-office-hall.jpg?s=2048x2048&w=is&k=20&c=N6fhlQXp6vDvDBMEDNcswvIK4DMQvSuAPTWxMf6l5wM=" class="d-block w-100" alt="Carousel Image 2">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://media.istockphoto.com/id/1465568487/photo/colleagues-watching-something-on-laptop-while-at-the-office.jpg?s=2048x2048&w=is&k=20&c=7Htb5w2wdKRf5pVllEmP0dV8QC6IBTEh5s0k6PcU_O0="  class="d-block w-100" alt="Carousel Image 2">
              </div>
              <!-- <div class="carousel-item" data-bs-interval="2000">
                <img src="https://images.unsplash.com/photo-1624555130296-e551faf8969b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGVtcGxveWVlc3xlbnwwfHwwfHx8MA%3D%3D"  class="d-block w-100" alt="Carousel Image 2">
              </div> -->
              <div class="carousel-item" data-bs-interval="2000">
                  <img src="https://media.istockphoto.com/id/1457297918/photo/successful-mid-adult-ceos-meeting-in-international-corporation.jpg?s=2048x2048&w=is&k=20&c=iUlp6fm4Kb5lPBTdDoTqp71bjrppWbnIDVb1f-I5q0I="  class="d-block w-100" alt="Carousel Image 2">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                  <img src="https://media.istockphoto.com/id/1457297928/photo/successful-meeting-of-female-and-male-crypto-experts.jpg?s=2048x2048&w=is&k=20&c=4mrFzaSJYw1AubF_WuPHKvAwR4wiVcq-VhgG7zA_X1E="  class="d-block w-100" alt="Carousel Image 2">
              </div>
              
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
      </div> <!-- src/app/signup/signup.component.html -->
  <div class="col-md-4">
    <div class="login-container style-log ">
      <div class="container card  p-2" style="background-color: rgba(0,0,0,0.5) !important;border-radius: 10px;">
      <h2 class="mb-1" style="color: aliceblue;">Signup</h2>
      <form [formGroup]="registerForm">
        <div class="form-group">
          <label for="name"  style="color: #f0f8ff;">FullName:</label>
          <input type="text" formControlName="fullName" class="form-control" id="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="position"  style="color: aliceblue;">Email:</label>
          <input type="email" formControlName="email" class="form-control" id="position" placeholder="Enter your position">
        </div>
        <div class="form-group">
           <label for="" style="color: aliceblue;">Password</label>
           <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password">
        </div>
        <!-- <div class="form-group">
          <label for="street"  style="color: aliceblue;">Street:</label>
          <input type="text" formControlName="street" class="form-control" id="street"  placeholder="Enter your street">
        </div>
        <div class="form-group">
          <label for="city"  style="color: aliceblue;">City:</label>
          <input type="text" formControlName="city" class="form-control" id="city" placeholder="Enter your city">
        </div>
        <div class="form-group">
          <label for="state"  style="color: aliceblue;">State:</label>
          <input type="text" formControlName="state" class="form-control" id="state"  placeholder="Enter your state">
        </div>
        <div class="form-group">
          <label for="zip"  style="color: aliceblue;">Zip:</label>
          <input type="text" formControlName="zip" class="form-control" id="zip"  placeholder="Enter your zip">
        </div>
        <div class="form-group">
          <label for="photo"  style="color: aliceblue;">Photo URL:</label>
          <input type="text" formControlName="photo" class="form-control" id="photo" placeholder="Enter your photo URL">
        </div>
        <div class="form-group">
          <label for="details"  style="color: aliceblue;">Details:</label>
          <textarea class="form-control" formControlName="details" id="details" placeholder="Enter employee details"></textarea>
        </div> -->
        <button type="button" class="btn btn-primary" (click)="signup()">Register</button>
        <!-- <button type="button" class="btn btn-link" (click)="navigateToLogin()">Login</button> -->
      </form>
    </div>
    </div>
    </div>

</div>